.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: rgb(53, 217, 223);
    grid-template-columns: 15vw 28vw 28vw 28vw;
    grid-template-rows: repeat(10,10vh);
}

.rightside {
    grid-area: 1 / 1 / 11 / 2;
    background-color: aqua;
}

.topside {
    grid-area: 1 / 2 / 3 / 5 ;
    background-color: cadetblue;
}

.bottomside {
    grid-area: 3 / 2 / -1/ 5;
    background-color: cornflowerblue;
}
.bottomright {
    grid-area: 3/ 4/ -1/ 5;
    background-color: bisque;
}